<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">
    <p>
      <h4><strong>First name:</strong>
        <%= @friend.first_name %>
      </h4>
    </p>
    <p>
      <h4><strong>Last name:</strong>
        <%= @friend.last_name %>
      </h4>
    </p>
  </div>
  <div class="card-body text-light">
    <h5 class="card-title">Contact Info:</h5>
    <p class="card-text">
      <p>
        <strong>Email:</strong>
        <%= @friend.email %>
      </p>
      <p>
        <strong>Phone number:</strong>
        <%= @friend.phone_number %>
      </p>
      <p>
        <strong>Twitter:</strong>
        <%= @friend.twitter %>
      </p>
      <p>
        <strong>Linkedin:</strong>
        <%= @friend.linkedin %>
      </p>
      <div class="col text-center">
        <%= link_to 'Edit', edit_friend_path(@friend), class: 'btn btn-info' %>
        <%= link_to 'Back', friends_path, class: 'btn btn-info' %>
      </div>
    </div>
